<% if @route.errors.any? %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      Bzzz....Brrr....There was a problem when submitting the form!  <%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:
    </div>
    <ul class="list">
    <% @route.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @route, html: {class: 'ui form'} do |f| %>
  <div class="two fields">
    <div class="field">
      <%= f.label :start_address %>
      <%= f.text_field :start_address, value: '6-8 Long Lane, London EC1A 9HF' %>
    </div>

    <div class="field">
      <%= f.label :end_address %>
      <%= f.text_field :end_address %>
    </div>
  </div>
  
  <div class="field">
    <%= f.label :departs_at %>
    <%= f.text_field :departs_at, value: Time.zone.now.iso8601 %>
  </div>

  <div class="field">
    <%= f.label :visit_duration %>
    <%= select_tag(:visit_duration, options_for_select([
      ['15 mins', 15],
      ['30 mins', 30],
      ['45 mins', 45],
      ['60 mins', 60]], selected: 30), {class: 'ui selection dropdown'}) %>
  </div>

  <div class="ui divider"></div>
  <%= f.submit 'Calculate!', class: 'ui button' %>
<% end %>