<h1>Travel Times</h1>

<%= form_for @route do |f| %>
	<%= f.label :startcoords, 'Start address' %>:
  <%= f.text_field :startcoords %>

	<%= f.label :endcoords, 'End address' %>:
  <%= f.text_field :endcoords %>
  
  <%= f.submit 'Calculate!' %>
<% end %>