<!DOCTYPE html>
<html>
  <head>
    <title>TravelTime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="ui menu">
      <%= link_to "TravelTime App", root_path, class: 'header item' %>
      <%= link_to 'All paths', paths_path, class: 'item' %>
      <%= link_to 'New path', new_path_path, class: 'item' %>
    </div>
    <div class="ui container">
      <%= semantic_flash %>
      <%= yield %>
    </div>
  </body>
</html>
